@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400&family=Open+Sans:wght@300&family=Orbitron:wght@400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  background-color: rgba(228, 228, 228, 0.397); 
}

#container {
  margin: 0 10%;
}

        /* NAVBAR */



.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    font-size: 18px;
    
}

.nav .part-1 img {
    height: 25px; 
}

.nav .part-2 li  {
    display: inline;
    padding: 0px 0px;
    margin-left:50px;  

  }
  
  .nav .part-2 li a {
    text-decoration: none;
    color: #000;
    position: relative; 
  }
  
  .nav .part-2 {
    text-align: right;
    
  }
  
  .nav .part-2 li a::before {
    content: "";
    transition: all 0.3s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: -5px;   
    border-bottom: 2px solid#000;
  }
  
  .nav .part-2 li:hover a::before {
    right: 0;
    left: 0;
  }

/* CARS DISPLAY SECTION  */

.car-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    
}

.msg {
    text-align: center;
    padding: 20px;
    font-size: 22px;
}
.car-column {
    font-size: 14px;
     text-align: center;
     padding: 15px;
     box-shadow: 2px 2px 12px #000;
     /* margin: auto 6vw; */

}
.car-column p {
    margin: 5px auto;
}

.cancel {
    padding: 15px;
}
.red {
	color: red;
}

.img {
    margin-bottom: 10px;
}

.img img {
    height: 200px;
}

/* FOOTER  */

.footer {
    text-align: center;
    background-color: #c4c4c4;
    margin-bottom: 10px;
    
  }
  
  
  
  .contact {
    float: left;
    width: 50%;
  }
  
  #contact-us ul li {
    list-style: none;
    margin-bottom: 8px;
  }
  
  #contact-us {
    margin-top: 40px;
    font-size: 18px;
  }
  
  #contact-us span {
    font-size: 26px;
  }
  
  #contact-us ul {
    margin-top: 15px;
  }
  
      /* COPY RIGHT  */
  
  .copy {
    font-size: 17px;
  }