* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgba(228, 228, 228, 0.397);
}

#container {
    margin: 0 10%;
}


/* NAVBAR */

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    font-size: 18px;
}

.nav .part-1 img {
    height: 25px;
}

.nav .part-2 li {
    display: inline;
    padding: 0px 0px;
    margin-left: 50px;
}

.nav .part-2 li a {
    text-decoration: none;
    color: #000;
    position: relative;
}

.nav .part-2 {
    text-align: right;
}

.nav .part-2 li a::before {
    content: "";
    transition: all 0.3s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: -5px;
    border-bottom: 2px solid#000;
}

.nav .part-2 li:hover a::before {
    right: 0;
    left: 0;
}

/* ADD SECTION  */

.add-car {
    /* border: 2px solid red; */
    margin: 20px auto;
    text-align: center;
    /* padding: 50px; */
}

.car {
    font-size: 22px;
    padding: 10px;
}

.msg {
    font-size: 20px;
    padding: 20px;
}

.form {
    /* border: 2px solid black; */
    padding: 20px;
    box-shadow: 2px 2px 12px #000;
    margin: auto 20vw;
}

.form p {
    padding: 5px;
}

.btn1 {
    padding: 5px 40px;
}
.fuel-type {
    /* border: 2px solid red; */
    padding: 10px;

}